
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}


<div id="CreateChemistry">
    <div class="container py-3">
        <div class="assessment-table-container mt-2">
            <div class="card shadow-box">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-12 px-0 pl-3">
                            <h5 class="text-white mb-0">Chemistry Detail  Form</h5>
                        </div>

                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="col-lg-12 col-md-12 col-12 px-0">
                        <tab></tab>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/x-template" id="tab-template">

    <div>
        <div class="col-lg-12 col-md-12 col-12 mt-2 d-md-none d-inline-block">
            <div class="col-lg-12 col-md-12 col-12 bg-warning text-right px-1 py-2">
                <button class="btn btn-warning" aria-hidden="true" data-toggle="collapse" href="#tabcollapse" role="button" aria-expanded="false" aria-controls="tabcollapse"><i class="fa fa-align-right text-white px-1"></i></button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
            <div class="collapse w-100" id="tabcollapse" v-for="item in arrTab">
                <div class="col-lg-12 col-md-12 col-12" style="cursor:pointer;" v-on:click="active('item.text')" v-bind:class="{'bg-primary' : $root.tab == item.text,'bg-warning' : $root.tab != item.text}">
                    <p class="m-0 py-2">{{item.text}}</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 px-0 d-md-block d-none mt-2">
                <div class="pn-ProductNav_Wrapper">
                    <nav class="pn-ProductNav" id="pnProductNav">
                        <div class="pn-ProductNav_Contents" id="pnProductNavContents" style="display: inline-flex;" v-for="item in arrTab">
                            <div class="tab-top mr-1 text-center pt-3 px-3 pb-0" style="cursor:pointer;" v-on:click="active(item.text)" v-bind:class="{'bg-primary' : $root.tab == item.text,'bg-warning' : $root.tab != item.text}">
                                <p class="m-0 mt-2">{{item.text}}</p>
                            </div>
                        </div>
                    </nav>
                    <button class="pn-Advancer pn-Advancer_Left d-md-block d-none" id="pnAdvancerLeft" type="button">
                        <div class="tab-left"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
                    </button>
                    <button class="pn-Advancer pn-Advancer_Right d-md-block d-none" id="pnAdvancerRight" type="button">
                        <div class="tab-right"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
                    </button>
                    <div class="col-lg-12 col-md-12 col-12 px-0 mt-md-0 mt-2">
                        <v-information-porduct v-show="$root.tab == 'ShowAllChemistryDetail'"></v-information-porduct>
                        <v-add-chemistry v-show="$root.tab == 'AddChemistryDetail'"></v-add-chemistry>
                        <v-recover-chemdetailt v-show="$root.tab == 'ShowRecoverPart'"></v-recover-chemdetailt>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

@Html.Partial("~/Views/ChemistryDetail/Tabs/AddDetailChemistry.cshtml")
@Html.Partial("~/Views/ChemistryDetail/Tabs/ShowDetailChemistry.cshtml")
@Html.Partial("~/Views/ChemistryDetail/Tabs/ShowRecoverChemDetail.cshtml")
<script>


    Vue.component('tab', {
        template: '#tab-template',
        data: function () {
            return {
                price: [],
                realprice: [],
                arrTab: [
                    {

                        text: "AddChemistryDetail",
                        no: "1",
                        role: [1, 3, 4]
                    },
                    {

                        text: "ShowAllChemistryDetail",
                        no: "4",
                        role: [1, 2, 3]
                    },
                    {

                        text: "ShowRecoverPart",
                        no: "4",
                        role: [1, 2, 3]
                    },
                ]
                ,
                processActive: this.$root.processActive,
                tab: this.$root.tab,
            }
        },
        methods: {
            active: function (n) {

                if (n == "ShowAllChemistryDetail") {
                    this.$children[0].onRefresh();
                } else if (n == "ShowRecoverPart") {
                    this.$children[2].onRefresh();
                }
                this.$parent.tab = n
            },

            listMenuRole: function (roleMenu, roleUser) {
                var reject = false;
                for (var i = 0; i < roleMenu.length; i++) {
                    if (roleMenu[i] == roleUser) reject = true;
                }
                return reject;
            }
        },
        mounted() {
            this.realprice = [];
        }
    });

    new Vue({
        el: "#CreateChemistry",
        data() {
            return {
                tab: 'AddChemistryDetail'
            }
        },
        methods:
        {

        }
    })
</script>
